<template>
  <!-- <MyNavbar textColor="text-Gray1" :logoSrc="require('../images/Logo.svg')" :notificationSrc="require('../images/notification 1.svg')" :showLinks="false" :showButton="false" :showNotification="true" :showProfile="true" /> -->
  <navbar
    :showLinks="true"
    :showButton="false"
    :showNotification="true"
    :showProfile="true"
  />
  <div class="bg-Gray5 px-10 pt-0.5" style="height: 1660px">
    <h1 class="font-semibold text-2xl mb-6 ml-8 mt-10">
      Secure your reservation
    </h1>
    <Covid style="margin-top: -4px" />
    <div class="flex">
      <RoomsCard />
      <!-- <LakeSide /> -->
      <SideBar/>
    </div>
  </div>
</template>

<script setup>
import Covid from "@/components/Covid.vue";
import RoomsCard from "@/components/RoomsCard.vue";
import navbar from "@/components/navbar.vue";
import SideBar from "@/components/sideBar.vue";
// import LakeSide from '@/components/LakeSide.vue';
// import LakeSide from "@/components/LakeSide.vue";
</script>


