<template>
  <div class="h-screen">
    <navbar
      :showLinks="true"
      :showButton="true"
      :showNotification="false"
      :showProfile="false"
    />
    <!-- <router-link to="/">Home</router-link>  -->

    <WelcomeCard />
    <div>
      <div class="h-full px-20">
        <Hero />
        <!-- <search /> -->
        <center><search /></center>
        <Covid />
        <Photos1 />
        <!-- <PhotosSec
        heading="Enjoy your dream vacation"
        text="Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us"
        :images="images"
      /> -->
        <tripSec />
        <photos2 />
        <!-- <PhotosSec
        heading="Enjoy your dream vacation"
        text="Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us"
        :images="images2"
      /> -->
        <hero2 />
        <ExploreSec />
        <myFooter />
      </div>
      <copyright />
    </div>

    <router-view />
  </div>
</template>

<script setup>
import navbar from "../components/navbar.vue";
import Hero from "../components/Hero.vue";
import Covid from "../components/Covid.vue";
// import PhotosSec from "../components/PhotosSec.vue";
import tripSec from "../components/tripSec.vue";
import hero2 from "../components/hero2.vue";
import ExploreSec from "../components/ExploreSec.vue";
import myFooter from "../components/myFooter.vue";
import search from "../components/search.vue";
import Photos1 from "../components/photos1.vue";
import photos2 from "../components/photos2.vue";
import { RouterView, useRouter } from "vue-router";
import { RouterLink } from "vue-router";
import WelcomeCard from "@/components/WelcomeCard.vue";
import copyright from "@/components/copyright.vue";
// import ProductDetails from "./ProductDetails.vue";
</script>
