<template>
  <div class="h-screen">
    <navbar
      :showLinks="false"
      :showButton="false"
      :showNotification="true"
      :showProfile="false"
    />
    <WelcomeCard />
    <router-view />
    <div>
      <div class="h-full px-20">
        <Hero />
        <!-- <search /> -->
        <center><search /></center>
        <Covid />
        <Photos1 />
        <tripSec />
        <photos2 />
        <hero2 />
        <ExploreSec />
        <myFooter />
      </div>
      <copyright />
    </div>
  </div>
</template>
  
  <script setup>
import navbar from "../components/navbar.vue";
import Hero from "../components/Hero.vue";
import Covid from "../components/Covid.vue";
import tripSec from "../components/tripSec.vue";
import hero2 from "../components/hero2.vue";
import ExploreSec from "../components/ExploreSec.vue";
import myFooter from "../components/myFooter.vue";
import search from "../components/search.vue";
import Photos1 from "../components/photos1.vue";
import photos2 from "../components/photos2.vue";
import { RouterLink } from "vue-router";
import WelcomeCard from "@/components/WelcomeCard.vue";
import copyright from "@/components/copyright.vue";
</script>
  