<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
  />
  <div>
    <navbar :showLinks="false" :showButton="false" class="pt-5" />
    <form
      action=""
      @submit.prevent="signIn"
      class="min-h-screen w-full flex items-center justify-center"
    >
      <div class="w-96 p-8 h-auto">
        <h1 class="text-center mb-6 font-semibold text-3xl">Sign In</h1>
        <label class="start-0 font-normal text-xs block mb-1" for=""
          >Email Address</label
        >
        <input
          type="text"
          placeholder="Email address"
          v-model="email"
          class="bg-Gray6 py-5 w-full h-8 pl-3 rounded-md text-sm text-Gray2 placeholder:text-transparent focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-xs"
        />
        <label class="start-0 font-normal text-xs block mb-1 mt-5"
          >Password</label
        >
        <div class="relative">
          <input
            ref="passwordInput"
            type="password"
            placeholder="Enter password"
            v-model="password"
            class="bg-Gray6 py-5  w-full h-8 mb-5 rounded-md pl-3 text-sm text-Gray2 placeholder:text-transparent focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-xs"
          />
          <span class="absolute inset-y-0 right-0 flex items-center mr-4">
            <i class="far fa-eye cursor-pointer text-Gray6"></i>
          </span>
        </div>
        <div
          v-if="showErrMsg"
          class="text-red-500 mt-2 font-normal start-0 text-xs"
        >
          Wrong email or password. Try Again!
        </div>
        <DynamicBtn class="w-full" text="Sign In" width="" />
        <p class="text-Gray2 text-xs font-normal text-center mt-4">
          Don't have an account?
          <span
            class="text-primary text-Blue text-xs font-normal cursor-pointer"
            @click="openRegister"
            >Register</span
          >
        </p>
      </div>
    </form>
  </div>
</template>

<script setup>
import DynamicBtn from "../components/DynamicBtn.vue";
import usersData from "../../Data/user.json";
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { RouterView } from "vue-router";
import Navbar from "@/components/navbar.vue";

let showErrMsg = ref(false);
let email = ref("");
let password = ref("");

const passwordType = ref("password");

onMounted(() => {
  passwordType.value = "password";
});
const router = useRouter();
// function ShowPassword() {
//   if (passwordType.value === "password") {
//     passwordType.value = "text";
//   } else {
//     passwordType.value = "password";
//   }
// }
function openRegister() {
  router.push("/Register");
}

function signIn() {
  const enteredemail = email.value;
  const enteredpassword = password.value;

  // Use Array.find to check if there's a matching user
  const user = usersData.user.find(
    (user) => user.email === enteredemail && user.password === enteredpassword
  );

  if (user) {
    // User found, login successful
    showErrMsg.value = false;
    router.push("/LogedHome"); // Redirect to the home page
  } else {
    // User not found, show error message
    showErrMsg.value = true;
  }
  return {
    showErrMsg,
    email,
    password,
    // showPassword,
    openRegister,
    signIn,
  };
}
</script>

<style lang="scss" scoped>
</style>