<template>
  <navbar
    :showLinks="true"
    :showButton="false"
    :showNotification="true"
    :showProfile="true"
  />

  <div class="bg-Gray5 w-full h-full">
    <div class="px-20">
      <h1 class="font-semibold text-3xl mt-4">My trips</h1>
      <div class="mb-96">
        <Trips />
        <Trips />
      </div>
      <Covid class="mb-4"/>
      <myFooter />
    </div>
    <copyright />
  </div>
</template>

<script setup>
import navbar from "@/components/navbar.vue";
import Trips from "@/components/Trips.vue";
import Covid from "@/components/Covid.vue";
import copyright from "@/components/copyright.vue";
import myFooter from "@/components/myFooter.vue";
</script>


