<template>
  <div>
    <Navbar
      :showLinks="true"
      :showButton="false"
      :showNotification="true"
      :showProfile="true"
    />
    <div class="w-full h-full bg-Gray5" style="height: 2300px">
      <div
        class="w-full bg-gradient-to-b from-Gray5 to-bgColor"
        style="height: 550px; border-bottom: 1px solid #e0e0e0"
      >
        <div class="px-20">
          <RoomsPictures />
          <overView />
          <AvailableRooms />
        </div>

        <div class="px-20 mt-44 ">
          <Covid class="mb-5" />
          <MyFooter />
        </div>
        <!-- <copy-rights /> -->
      </div>
    </div>
  </div>
</template>

<script setup>
import Covid from "@/components/Covid.vue";
import MyFooter from "@/components/myFooter.vue";
import Navbar from "@/components/navbar.vue";
import overView from "@/components/overView.vue";
import RoomsPictures from "@/components/RoomsPictures.vue";
import AvailableRooms from "@/components/AvailableRooms.vue";
</script>
