<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
  />
  <div>
    <navbar :showLinks="false" :showButton="false" class="pt-5" />

    <form
      id="registerForm"
      class="min-h-screen w-full flex items-center justify-center"
    >
      <div class="w-96 h-96 ">
        <h1 class="text-center mb-6 font-semibold text-3xl">Register</h1>
        <label class="start-0 font-medium text-xs block mb-1">
          Email Address</label
        >
        <input
          type="email"
          v-model="email"
          placeholder="Email address"
          required
          class="bg-Gray6 w-full h-8 pl-3 py-5 rounded-md text-sm text-Gray2 placeholder:text-transparent focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-xs"
        />

        <label class="start-0 font-medium text-xs block mb-1 mt-5"
          >Password</label
        >
        <div class="relative">
          <input
            ref="passwordInput"
            type="password"
            v-model="password"
            placeholder="Enter password"
            required
            class="bg-Gray6 w-full h-8 rounded-md  py-5 pl-3 text-sm text-Gray6 placeholder:text-transparent focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-xs"
          />
          <span
            class="absolute inset-y-0 right-0 flex items-center mr-4"
            @click="ShowPassword"
          >
            <i class="far fa-eye cursor-pointer text-Gray2"></i>
          </span>
        </div>
        <label class="start-0 font-medium text-xs block mb-1 mt-5"
          >Confirm password</label
        >
        <div class="relative">
          <input
            class="bg-Gray6 w-full mb-4 h-8  py-5 rounded-md pl-3 text-sm text-Gray6 placeholder:text-transparent focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-xs"
            ref="confirmPasswordInput"
            v-model="confirmPassword"
            type="password"
            placeholder="Enter password"
          />
          <span
            class="absolute inset-y-0 right-0 flex items-center mr-4"
            @click="ShowPassword"
          >
            <i class="far fa-eye cursor-pointer text-Gray2"></i>
          </span>
        </div>
        <div
          v-if="showErrMsg"
          class="text-red-500 mt-2 font-medium start-0 text-xs"
        >
          Password did't match!
        </div>
        <!-- <button @click="openLogin">Submit</button> -->
        <DynamicBtn
          text="Submit"
          width="95"
          type="submit"
          @click="Register"
          class="w-full mt-2"
        />
        <p class="text-Gray2 text-xs mt-3 font-normal text-center">
          Already have an account?
          <span
            class="text-primary text-Blue text-xs mt-5 font-normal cursor-pointer"
            @click="openLogin"
            >Sign in</span
          >
        </p>
      </div>
    </form>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import DynamicBtn from "../components/DynamicBtn.vue";
import Navbar from "@/components/navbar.vue";

let showErrMsg = ref(false);
let email = ref("");
let password = ref("");
const passwordType = ref("password");
const confirmPasswordType = ref("password");
const confirmPassword = ref("");


onMounted(() => {
  passwordType.value = "password";
  confirmPasswordType.value = "password";
});
const router = useRouter();
function openLogin() {
  router.push("/Login");
}

const Register = async () => {
  // Check form validity
  const form = document.getElementById("registerForm");
  if (!form.checkValidity()) {
    return; // Return early if the form is not valid
  }
  // Check if password and confirm password match
  if (password.value !== confirmPassword.value) {
    showErrorMessage.value = true;
    return; // Return early if passwords don't match
  }
  try {
    // Create the user data object
    const userData = {
      email: email.value,
      password: password.value,
      confirmPassword: confirmPassword.value,
    };

    // Send the user data to the API endpoint
    await fetch("http://localhost:3000/user", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(userData),
    });

    // Display success message or navigate to a success page
    alert("Registration successful!");

    // Clear the form fields
    email.value = "";
    password.value = "";
    confirmPassword.value = "";
    showErrorMessage.value = false;
    router.push("/");
  } catch (error) {
    // Handle error response
    console.error(error);
    alert("Registration failed. Please try again.");
  }
};
</script>

<style lang="scss" scoped>
</style>