<template>
  <div>
    <navbar
      class="bg-linearGradient pb-24"
      :showLinks="true"
      :showNotification="true"
      :showProfile="true"
      :showButton="false"
    />
    <!-- <search @searchParams="performSearch"/> -->
    <!-- <search class="mt-20" @searchParams="performSearch" /> -->
    <Res :searchParams="searchParams" />

  </div>
</template>
<script setup>
import Navbar from "@/components/navbar.vue";
import Res from "@/components/Res.vue";
import search from "@/components/search.vue";
import { ref } from "vue";

// const searchParams = ref({});

// const performSearch = (params) => {
//  searchParams.value = params;
// };
</script>
  
