<template>
  <div v-if="showBookingSuc" class="bg-bgColor text-center w-96 h-96">
    <div class="inline-block">
      <div class="bg-[url('../images/booking.png')] flex rounded-md">
        <img src="../images/image 11.png" alt="" class="" />
      </div>

      <!-- <img src="../images/Rectangle 21.png" alt=""> -->
    </div>
    <h2 class="text-Black1 font-semibold ">Booking Successful</h2>
    <p class="text-Gray2 font-normal">
      Congratulations your reservation has been made. You will be notified 2
      days prior the date.
    </p>
    <DynamicBtn text="View Trip" class="w-3/4 p-2 mt-9" />
  </div>
</template>
  
  <script setup>
import { ref } from "vue";
import DynamicBtn from "./DynamicBtn.vue";
const showBookingSuc=ref(true)
</script>
  