<template>
  <div class="mb-5">
    <h1 class="text-lg font-semibold mb-2">Filter by</h1>
    <div class="border w-72 h-80 rounded-md ">
      <div class="bg-Gray6 p-2 divide-solid">
        <span class="text-Black1">Your budget per day</span>
      </div>
      <div class="m-2">
        <div class="flex mx-1 my-2">
          <input type="checkbox" class="mr-1" />
          <div class="flex justify-between items-center">
            <label for="" class="mr-24">$ 0 - $ 200</label>
            <span>200</span>
          </div>
        </div>
        <div class="flex mx-1 my-2">
          <input type="checkbox" class="mr-1" />
          <div class="flex justify-between items-center">
            <label for="" class="mr-24">$ 200 - $ 500</label>
            <span>100</span>
          </div>
        </div>
        <div class="flex mx-1 my-2">
          <input type="checkbox" class="mr-1" />
          <div class="flex justify-between items-center">
            <label for="" class="mr-24">$ 500 - $ 1,000</label>
            <span>15</span>
          </div>
        </div>
        <div class="flex mx-1 my-2">
          <input type="checkbox" class="mr-1" />
          <div class="flex justify-between items-center">
            <label for="" class="mr-24">$ 1,000 - $ 2,000</label>
            <span>12</span>
          </div>
        </div>
        <div class="flex mx-1 my-2">
          <input type="checkbox" class="mr-1" />
          <div class="flex justify-between items-center">
            <label for="" class="mr-24">$ 2,000 - $ 5,000</label>
            <span>320</span>
          </div>
        </div>
      </div>
      <div class="m-2">
        <p class="text-Gray2">Set your own budget</p>
      </div>
    </div>
  </div>
</template>
  
  <script setup>
</script>
  
  <style scoped>
</style>