<template>
  <div class="bg-Gray3 w-full py-1 ">
    <div class="flex bg-Gray3 w-full py-2 justify-end float-right">
      <img class="mr-2 text-Gray2" src="../images/copyright 1.png" alt="" />
      <span class="text-Gray2 text-sm mr-40 "
        >my Dream Place 2022</span
      >
    </div>
  </div>
</template>