<template>
  <div class="flex bg-beigColor py-4 mt-6 text-center rounded-md">
    <div class="danger flex justify-center items-center h-full">
      <img class="mx-2 mr-4" src="../images/danger 1.png" alt="" />
    </div>
    <div class="content font-normal text-base flex justify-center items-center">
      <p>
        Check the latest COVID-19 restrictions before you travel.
        <a href="" class="text-Blue">Learn more</a>
      </p>
    </div>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>