<template>
  <button :class="['bg-Blue', 'text-bgColor','text-base','font-medium', 'rounded-md', `w-${width}`,'py-3','px-3']">
    {{ text }}
  </button>
</template>

<script setup>
import { defineProps } from "vue";
defineProps({
  text: String,
  width: {
    type: Number,
  },
});
</script>
