<template>
  <div class="exp justify-center items-center">
    <h1 class=" font-semibold text-3xl mb-3 text-Black1 text-center">Explore the world with My Dream place</h1>
    <p class="text-center text-Blue text-base py-1">Discover new places and experiences</p>
  </div>
</template>

<script setup>

</script>
<style>
.exp{
  margin:60px 0;
  padding: 15px;
}

</style>