<template>
  <!-- <div class="h-full px-20"> -->
    <div
      class="hero  flex justify-center items-center h-full bg-[url('../images/hero.png')] bg-cover rounded-lg"
    >
      <div class="content">
        <h1 class="text-center mb-4 font-bold text-2xl text-bgColor ">Enjoy Your Dream Vacation</h1>
        <p class="text-center font-normal text-sm text-bgColor" style="width: 400px;">
          Plan and book our perfect trip with expert advice, travel tips,
          destination information and inspiration from us
        </p>
      </div>
    </div>
  <!-- </div> -->
</template>

<script setup>
</script>

<style scoped>
.hero{
  height: 500px;
}
</style>
