<template>
  <div class="">
    <div class="hero bg-[url('../images/phone2.png')] bg-cover rounded-lg mt-5 justify-center items-center flex relative bg-center">
      <div class="flex">
        <div class="content absolute top-20 left-10">
          <h1 class="w-3/4 mb-4 font-semibold text-2xl text-bgColor">
            Download the mobile application for bonus coupons and travel codes
          </h1>
          <DynamicBtn text="Download mobile app" width="48" />
        </div>
      </div>
    </div>
  </div>
</template>
  
<script setup>
import DynamicBtn from "./DynamicBtn.vue";
</script>
  
  <style scoped>
.hero {
  height: 350px;
  width: 1200px;
}
.content{
  margin-left: 80px;
  /* width: 580px; */
}

</style>
  