<template>
    <div class="bg-bgColor rounded-md ml-m21 mt-ng10" style="width: 400px; height: 400px;">
      <div class="relative">
        <div class="h-40 bg-cover bg-center rounded-md" style="height: 200px;">
          <img class="h-full w-full object-cover rounded-t-md" src="../images/Rectangle 68.svg" alt="Your Image">
        </div>
        <div class="absolute p-4 ml-0">
          <p class="text-base font-medium mt-1">Lakeside Motel Waterfront</p>
          <div class="flex items-center mt-2">
            <img class="h-18 w-18 " src="../images/Stars.svg" alt="Stars">
            <p class="text-xs text-Gray2 font-normal ml-5">4.5 (1200 Reviews)</p>
          </div>
        </div>
      </div>
      <div class="p-4 mt-24">
        <p class="text-xs text-Red1 font-normal">Non refundable</p>
        <p class="text-xs text-Gray2 font-normal mt-1">Check in: Sunday, March 18, 2022</p>
        <p class="text-xs text-Gray2 font-normal">Check out: Tuesday, March 20, 2022</p>
        <p class="text-xs text-Gray2 font-normal mt-1">2 night stay</p>
      </div>
    </div>
  
  
    <!-- Second Card -->
    <div>
      <div class="ml-m21 mt-7">
        <div class="relative bg-bgColor rounded-md" style="width: 400px; height: 223px;">
          <div class="bg-center bg-cover bg-Green1 rounded-t-md justify-center items-center py-4"
            style="height: 55px; width: 400px;">
            <p class="ml-5 font-medium justify-center text-Black1 font-defaultFont text-base inline">Price Details </p>
          </div>
          <p class="ml-5 mt-6 font-normal justify-center text-Gray2 font-defaultFont text-sm ">1 room X 2 nights
            <span class="font-normal justify-center text-Gray2 font-defaultFont text-sm" style="margin-left: 194px;">$
              120.32</span>
          </p>
          <p class="ml-5 mt-3 font-normal justify-center text-Gray2 font-defaultFont text-sm ">Tax and service fees
            <span class="ml-48 font-normal justify-center text-Gray2 font-defaultFont text-sm ">$ 8.32</span>
          </p>
          <hr class="border-Gray5 mt-5">
          <p class="ml-5 mt-6 font-semibold justify-center text-Black1 font-defaultFont text-base ">Total
            <span class="font-semibold justify-center text-Gray1 font-defaultFont text-lg"
              style="margin-left:281px ;">$180</span>
          </p>
        </div>
      </div>
    </div>
  </template>