<template>
  <div class="flex justify-between py-3 pb-12">
    <div>
      <div class="flex my-25px">
        <svg
          class=""
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M3.414 13.7782C2.5 14.0002 2 15.1922 2 15.1922C2 15.1922 5.398 15.6262 6.949 17.3132C8.5 19.0002 9.071 22.2632 9.071 22.2632C9.071 22.2632 10.47 22.6982 10.485 20.8492C10.5 19.0002 9.778 17.3132 9.778 17.3132L13.091 14.0002L16.701 21.7042C16.701 21.7042 18.08 22.2302 18.04 20.3652C18 18.5002 16.85 10.2422 16.85 10.2422L19.678 7.41319C19.869 7.22869 20.0214 7.008 20.1262 6.76399C20.231 6.51999 20.2862 6.25755 20.2885 5.99199C20.2908 5.72643 20.2402 5.46307 20.1396 5.21728C20.0391 4.97149 19.8906 4.74818 19.7028 4.5604C19.515 4.37261 19.2917 4.2241 19.0459 4.12354C18.8001 4.02298 18.5368 3.97238 18.2712 3.97468C18.0056 3.97699 17.7432 4.03217 17.4992 4.13698C17.2552 4.2418 17.0345 4.39417 16.85 4.58519L13.947 7.48819C13.947 7.48819 6.148 6.09419 3.824 6.29719C1.5 6.50018 2.559 7.56319 2.559 7.56319L10.203 11.2332L6.95 14.4862C6.95 14.4862 4.328 13.5562 3.414 13.7782Z"
            fill="#2F80ED"
          />
        </svg>
        <h1 class="text-Black2 pl-4 font-medium text-lg">My Dream Place</h1>
      </div>
      <p class="pl-9 w-60">Your next goto companion for travel</p>
    </div>

    <div class="footer">
      <div class="mx-auto">
        <div class="grid grid-cols-4 gab-6">
          <div>
            <h1 class="font-medium text-base mb-2">Company</h1>
            <ul>
              <li class="text-base text-Gray2 my-2"><a href="">About</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Jobs</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Newsroom</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Advertising</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Contact Us</a></li>
            </ul>
          </div>
          <div>
            <h1 class="font-medium text-base mb-2">Explore</h1>
            <ul>
              <li class="text-sm text-Gray2 my-2"><a href="">Australia</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">New Zealand</a></li>
              <li class="text-sm text-Gray2 my-2">
                <a href="">United States America (USA)</a>
              </li>
              <li class="text-sm text-Gray2 my-2"><a href="">Greece</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Maldives</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Singapore</a></li>
              <li class="text-sm text-Blue"><a href="">See more</a></li>
            </ul>
          </div>
          <div>
            <h1 class="font-medium text-base mb-2">Terms and Policies</h1>
            <ul>
              <li class="text-sm text-Gray2 my-2"><a href="">Privacy Policy</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Terms of use</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Acessibility</a></li>
              <li class="text-sm text-Gray2 my-2">
                <a href="">Reward system policy</a>
              </li>
            </ul>
          </div>
          <div>
            <h1 class="font-medium text-base mb-2">Help</h1>
            <ul>
              <li class="text-sm text-Gray2 my-2"><a href="">Support</a></li>
              <li class="text-sm text-Gray2 my-2">
                <a href="">Cancel your bookings</a>
              </li>
              <li class="text-sm text-Gray2 my-2"><a href="">Use Coupon</a></li>
              <li class="text-sm text-Gray2 my-2"><a href="">Refund Policies</a></li>
              <li class="text-sm text-Gray2 my-2">
                <a href="">International Travel Documents</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
