<template>
  <div class="bg-bgColor text-Gray1 flex justify-between items-center px-10 ">
    <div class="flex items-center bg-bgColor my-25px">
      <svg
        class=""
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M3.414 13.7782C2.5 14.0002 2 15.1922 2 15.1922C2 15.1922 5.398 15.6262 6.949 17.3132C8.5 19.0002 9.071 22.2632 9.071 22.2632C9.071 22.2632 10.47 22.6982 10.485 20.8492C10.5 19.0002 9.778 17.3132 9.778 17.3132L13.091 14.0002L16.701 21.7042C16.701 21.7042 18.08 22.2302 18.04 20.3652C18 18.5002 16.85 10.2422 16.85 10.2422L19.678 7.41319C19.869 7.22869 20.0214 7.008 20.1262 6.76399C20.231 6.51999 20.2862 6.25755 20.2885 5.99199C20.2908 5.72643 20.2402 5.46307 20.1396 5.21728C20.0391 4.97149 19.8906 4.74818 19.7028 4.5604C19.515 4.37261 19.2917 4.2241 19.0459 4.12354C18.8001 4.02298 18.5368 3.97238 18.2712 3.97468C18.0056 3.97699 17.7432 4.03217 17.4992 4.13698C17.2552 4.2418 17.0345 4.39417 16.85 4.58519L13.947 7.48819C13.947 7.48819 6.148 6.09419 3.824 6.29719C1.5 6.50018 2.559 7.56319 2.559 7.56319L10.203 11.2332L6.95 14.4862C6.95 14.4862 4.328 13.5562 3.414 13.7782Z"
          fill="#2F80ED"
        />
      </svg>
      <h1
        class="text-Black2 pl-4 font-medium text-lg hover:cursor-pointer"
        @click="() => router.push('/')"
      >
        My Dream Place
      </h1>
    </div>
    <div class=" md-block">
      <div class="links items-baseline space-x-12" v-if="showLinks">
        <ul class="inline-flex flex-start gap-9">
          <a href=""
            ><li class="font-mainFont text-base font-normal">Home</li></a
          >
          <a href=""
            ><li class="mainFont text-base font-normal">Discover</li></a
          >
          <a href=""
            ><li class="mainFont text-base font-normal">Activites</li></a
          >
          <a href=""><li class="mainFont text-base font-normal">About</li></a>
          <a href=""><li class="mainFont text-base font-normal">Contact</li></a>
        </ul>
      </div>
    </div>
    <DynamicBtn v-show="showButton"
      text="Register"
      width="24"
      @click="() => router.push('/Register')"
    />
    <img
      v-if="showNotification"
      class="h-18 w-18 ml-m16 mr-5"
      src="../images/notification 1.png"
      alt="notification"
    />
    <div
      @click="toggleDropdown"
      v-if="showProfile"
      class="w-18 h-18 ml-2 cursor-pointer rounded-full overflow-hidden"
    >
      <img
        class="object-cover mb-0 w-full h-full"
        src="../images/Ellipse 3.png"
        alt="Image"
      />
    </div>

    <div v-if="isDropdownOpen" class="absolute mt-60 w-48 bg-white drop-shadow-3xl rounded-md right-2">
          <ul class="py-2">
            <li class="px-4 py-2">
                <img class="h-4 w-4 mt-ng4 mr-2 inline justify-center" src="../images/user-square 2.png" />
                <p class="inline mt-2 font-normal font-defaultFont text-sm text-Gray2 justify-center">Settings</p>
            </li> <hr class="border-Gray3">

            <li @click="navigateToMyTrips" class="px-4 py-2 cursor-pointer">
                <img class="h-4 w-4 mt-ng4 mr-2 inline justify-center" src="../images/bxs-plane-take-off 1.png" />
                <p class="inline mt-2 font-normal font-defaultFont text-sm text-Gray2 justify-center">My trips</p>
            </li> <hr class="border-Gray3">

            <li class="px-4 py-2">
                <img class="h-4 w-4 mt-ng4 mr-2 inline justify-center" src="../images/wallet-3 1.png" />
                <p class="inline mt-2 font-normal font-defaultFont text-sm text-Gray2 justify-center">Reward and wallet</p>
            </li> <hr class="border-Gray3">

            <li @click="logout" class="px-4 py-2 cursor-pointer">
                <img class="h-4 w-4 mt-ng4 mr-2 inline justify-center" src="../images/logout 1.png" />
                <p class="inline mt-2 font-normal font-defaultFont text-sm text-Gray2 justify-center">Sign out</p>
            </li> 
          </ul>
        </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import DynamicBtn from "./DynamicBtn.vue";
import router from "@/router";
import { useRouter } from "vue-router";

let isDropdownOpen=ref(false)
const props = defineProps({
  showLinks: {
    type: Boolean,
    default: false,
  },
  showButton: {
    type: Boolean,
    default: false,
  },
  showNotification: {
    type: Boolean,
    default: false,
  },
  showProfile: {
    type: Boolean,
    default: false,
  },
});

function toggleDropdown() {
  isDropdownOpen.value = !isDropdownOpen.value;
}

function navigateToMyTrips() {
  router.push("/mytrips");
}

function logout() {
  router.push("/");
}
</script>

<style>
.links {
  margin-top: 23px;
  margin-bottom: 23px;
}
</style>

