<template>
  <div class="flex mb-10">
    <div class="mt-10">
      <h1 class="font-semibold text-Black1 text-3xl mb-3">
        Lakeside Motel Warefront
      </h1>
      <!-- {{ hotels }} -->
      <div class="flex items-center mb-3">
        <img src="../images/Stars.svg" />
        <p class="font-normal text-sm text-Gray2 ml-3">4.5 (1200 Reviews)</p>
      </div>

      <div class="flex items-center mb-8">
        <img src="../images/location 1.svg" />
        <p class="font-normal text-sm text-Gray1 ml-3">
          Lorem ipsum road, Tantruim-2322, Melbourne, Australia
        </p>
      </div>

      <div class="bg-bgColor rounded-md" style="width: 843px; height: 1000px">
        <p class="font-semibold text-lg text-Black1 ml-8 pt-6">Overview</p>
        <p
          class="font-normal text-base text-Gray2 ml-8 pt-5 mb-11"
          style="width: 740px"
        >
          {{ hotelDes.description }}
          <!-- {{ hotel.description }} -->
        </p>

        <hr class="border-Gray5 mt-5" />

        <p class="font-semibold text-lg text-Black1 ml-8 pt-6">
          Top facilities
        </p>
        <div class="flex items-center ml-8 mt-6">
          <div class="flex items-center">
            <img src="../images/home-wifi 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">Free wifi</p>
          </div>

          <div class="flex items-center ml-72 absolute">
            <img src="../images/bag-tick-2 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
              Business Services
            </p>
          </div>
        </div>

        <div class="flex items-center ml-8 mt-3">
          <div class="flex items-center">
            <img src="../images/wind 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
              Air Conditioning
            </p>
          </div>

          <div class="flex items-center ml-72 absolute">
            <img src="../images/lifebuoy 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
              Swimming pool
            </p>
          </div>
        </div>

        <div class="flex items-center ml-8 mt-3">
          <div class="flex items-center">
            <img src="../images/car 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
              Parking available
            </p>
          </div>

          <div class="flex items-center ml-72 absolute">
            <img src="../images/like-1 1.svg" />
            <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
              Top rated in area
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-12">
      <img src="../images/Rectangle 65.svg" class="ml-7" />
      <p class="font-semibold text-lg text-Black1 ml-8 pt-9">
        Explore the area
      </p>

      <div class="flex items-center justify-between mt-3">
        <div class="flex">
          <img src="../images/bxs-plane-alt 2.svg" class="ml-7" />
          <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
            Hotel Penselvenyia
          </p>
        </div>
        <p
          class="font-normal text-sm text-Gray2 mt-0.5 absolute right-1"
          style="margin-left: 361px"
        >
          2 min drive
        </p>
      </div>
      <div class="flex items-center justify-between mt-3">
        <div class="flex">
          <img src="../images/bxs-map 1.svg" class="ml-7" />
          <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
            Travis Bakery store house
          </p>
        </div>
        <p class="font-normal text-sm text-Gray2 mt-0.5 absolute right-1">
          10 min drive
        </p>
      </div>
      <div class="flex items-center justify-between mt-3">
        <div class="flex">
          <img src="../images/bxs-map 1.svg" class="ml-7" />
          <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
            Olivia Johnson Garden
          </p>
        </div>
        <p
          class="font-normal text-sm text-Gray2 mt-0.5 absolute right-1"
          style="margin-left: 353px"
        >
          15 min drive
        </p>
      </div>
      <div class="flex items-center justify-between mt-3">
        <div class="flex">
          <img src="../images/bxs-map 1.svg" class="ml-7" />
          <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
            Norman Opera Circus
          </p>
        </div>
        <p
          class="font-normal text-sm text-Gray2 mt-0.5 absolute right-1"
          style="margin-left: 353px"
        >
          18 min drive
        </p>
      </div>
      <div class="flex items-center justify-between mt-3">
        <div class="flex">
          <img src="../images/bxs-map 1.svg" class="ml-7" />
          <p class="font-normal text-sm text-Gray2 ml-3 mt-0.5">
            Rockdeset hotel
          </p>
        </div>
        <p
          class="font-normal text-sm text-Gray2 mt-0.5 absolute right-1"
          style="margin-left: 353px"
        >
          32 min drive
        </p>
      </div>
    </div>
  </div>
</template>
<script setup>
import { getValue } from "@/local";
import axios from "axios";
import { onMounted, ref, watch } from "vue";

const hotelDes = ref([]);
const hotels = ref([]);

const hotelId = getValue("SelectedHotel") || ref("");
const arrivaldate = getValue("arrivaldate") || ref("");
const departuredate = getValue("departuredate") || ref("");

onMounted(async () => {
  if (hotelDes) {
    const options = {
      method: "GET",
      url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/getDescriptionAndInfo",
      params: {
        hotel_id: hotelId,
        languagecode: "en-us",
      },
      headers: {
         'X-RapidAPI-Key': 'c9c00bf6d1msheb0e01a74544b1fp148bfejsn630e31555bc7',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
      },
    };

    try {
      const response = await axios.request(options);
      hotelDes.value = response.data.data[0];
      console.log(hotelDes.value);
    } catch (error) {
      console.error(error);
    }
  }
  //   if (hotels) {
  //     const options = {
  //       method: "GET",
  //       url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/getHotelDetails",
  //       params: {
  //         hotel_id: hotelId,
  //         arrival_date: arrivaldate,
  //         departure_date: departuredate,
  //         adults: "1",
  //         children_age: "1,17",
  //         room_qty: "1",
  //         languagecode: "en-us",
  //         currency_code: "EUR",
  //       },
  //       headers: {
  //         "X-RapidAPI-Key": "8e690a2586msh78f039a2138b86cp1beacfjsn935ca7f2596b",
  //         "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
  //       },
  //     };

  //     try {
  //       const response = await axios.request(options);
  //       hotels.value = response.data;
  //       console.log(hotels.value);
  //     } catch (error) {
  //       console.error(error);
  //     }
  //   }
});
</script>
