<template>
  <div>
    <h1>{{ heading }}</h1>
    <p>{{ text }}</p>
    <div class="grid grid-cols-4 gap-4">
      <div  v-for="image in images" :key="image.src">
        <img :src="image.src" :alt="image.title" />
      </div>
      <!-- <h3>{{ image.title }}</h3> -->
      <!-- <p>{{ image.content }}</p> -->
    </div>
    <!-- <img src="../images/austuralia.png" alt=""> -->
  </div>
</template>

<script setup>
import { useImageStore } from "@/store/store";
import { defineProps } from "vue";
// const imageStore=useImageStore();
// const {images}=imageStore;
defineProps ( {
  heading: String,
  text: String,
  images:{
    type:Array
  }

})

</script>
