<template>
  <div class="my-8">
    <h1 class="font-semibold text-3xl mb-3 text-Black1">Enjoy your dream vacation</h1>
    <p class="mb-5 text-Gray1 w-2/4">
      Plan and book our perfect trip with expert advice, travel tips,
      destination information and inspiration from us
    </p>
    <div class="grid grid-cols-4 gap-4">
      <div class="card">
        <img src="../images/austuralia.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Australia</h2>
        <p class="text-sm text-Black1">2246 properties</p>
      </div>
      <div class="card">
        <img src="../images/japan.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Japan</h2>
        <p class="text-sm text-Black1">1278 properties</p>
      </div>
      <div class="card">
        <img src="../images/zeeland.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Zealand</h2>
        <p class="text-sm text-Black1">320 properties</p>
      </div>
      <div class="card">
        <img src="../images/greece.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Greece</h2>
        <p class="text-sm text-Black1">480 properties</p>
      </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>