<template>
  <div class="my-20">
    <h1 class="font-semibold text-3xl mb-3 text-Black1">Popular hotels</h1>
    <div class="grid grid-cols-4 gap-4">
      <div class="card">
        <img src="../images/rec1.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Lakeside Motel Warefront</h2>
        <p class="text-sm text-Black1">2246 properties</p>
      </div>
      <div class="card">
        <img src="../images/rec2.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Recce Graham resort</h2>
        <p class="text-sm text-Black1">1278 properties</p>
      </div>
      <div class="card">
        <img src="../images/rec3.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Fireside Dinners</h2>
        <p class="text-sm text-Black1">320 properties</p>
      </div>
      <div class="card">
        <img src="../images/rec4.png" />
        <h2 class="text-Black1 text-xl font-semibold my-1">Oculous Inn Stay</h2>
        <p class="text-sm text-Black1">480 properties</p>
      </div>
    </div>
  </div>
</template>
  
  <script setup>
</script>
  
  <style lang="scss" scoped>
</style>