<template>
  <div class=" border w-72 h-36 rounded-md">
    <div class="bg-Gray6 p-2 divide-solid">
      <span>Rating</span>
    </div>
    <p class="text-sm text-Gray2 my-2 mx-3 ">Show only ratings more than</p>
    <div class="flex ml-3 ">
      <div class="border flex p-2 justify-center items-center rounded-l-md">
        <span>1</span>
        <img src="../images/star-s-fill 1.svg" alt="" />
      </div>
      <div class="border flex p-2 justify-center items-center">
        <span>2</span>
        <img src="../images/star-s-fill 1.svg" alt="" />
      </div>
      <div class="border flex p-2 justify-center items-center">
        <span>3</span>
        <img src="../images/star-s-fill 1.svg" alt="" />
      </div>
      <div class="border flex p-2 justify-center items-center">
        <span>4</span>
        <img src="../images/star-s-fill 1.svg" alt="" />
      </div>
      <div class="border flex p-2 justify-center items-center rounded-r-md">
            <span>5</span>
            <img src="../images/star-s-fill 1.svg" alt="">
        </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style scoped>
</style>