<template>
  <div class="">
    <!-- Search Component  -->
    <div class="inline-block -mt-24 ml-24">
      <div
        class="search flex justify-between py-5 bg-bgColor rounded-lg shadow-lg px-2 -mt-14 w-full"
      >
        <div
          class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2"
        >
          <img src="../images/location 1.svg" alt="" />
          <select class="block mt-1 border-gray-300 rounded-md bg-Gray6">
            <option disabled selected value="">Where are you going?</option>
            <option>Egypt</option>
          </select>
        </div>

        <div
          class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2"
        >
          <img src="../images/calendar 1.svg" alt="" />
          <input
            v-model="arrivalDate"
            class="bg-Gray6"
            type="date"
            placeholder="Check in date"
          />
        </div>

        <div
          class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2"
        >
          <img src="../images/calendar 1.svg" alt="" />
          <input
            v-model="departureDate"
            class="bg-Gray6"
            type="date"
            placeholder="Check out date"
          />
        </div>

        <div
          class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2"
        >
          <img src="../images/user-square 1.svg" alt="" />
          <input
            v-model="guests"
            class="bg-Gray6"
            type="number"
            placeholder="Guests"
          />
        </div>

        <div
          class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2"
        >
          <img src="../images/rooms.svg" alt="" />
          <input
            v-model="rooms"
            class="bg-Gray6"
            type="number"
            placeholder="Rooms"
          />
        </div>

        <DynamicBtn
          text="search"
          width="36"
          @click="searchHotels"
          class="w-36 mx-2"
        />
      </div>
    </div>

    <div class="flex mt-16 mx-10">
      <div class="mx-8">
        <!-- Search By name Component  -->
        <div class="border w-72 h-28 rounded-md bg-Gray6 mb-5">
          <div class="bg-Gray6 p-2 divide-solid rounded">
            <span>Search by property name</span>

            <div class="bg-bgColor border flex justify-betwen p-2 rounded mt-2">
              <img src="../images/search 1.svg" alt="" />
              <input
                class="ml-1"
                type="text"
                placeholder="eg. Beach westpalm"
                @input="FilterByName"
                v-model="FilterName"
              />
            </div>
          </div>
        </div>
        <!-- Filter By Budget Component  -->
        <div class="mb-5">
          <h1 class="text-lg font-semibold mb-2">Filter by</h1>
          <div class="border w-72 h-80 rounded-md">
            <div class="bg-Gray6 p-2 divide-solid">
              <span class="text-Black1">Your budget per day</span>
            </div>
            <div class="m-2">
              <div class="flex mx-1 my-2">
                <input
                  type="radio"
                  class="mr-1"
                  value="1"
                  v-model="selectedPrice"
                  @change="FilterBudget"
                />
                <div class="flex justify-between items-center">
                  <label for="" class="mr-24">$ 0 - $ 200</label>
                  <span>200</span>
                </div>
              </div>
              <div class="flex mx-1 my-2">
                <input
                  type="radio"
                  class="mr-1"
                  value="2"
                  v-model="selectedPrice"
                  @change="FilterBudget(selectedPrice)"
                />
                <div class="flex justify-between items-center">
                  <label for="" class="mr-24">$ 200 - $ 500</label>
                  <span>100</span>
                </div>
              </div>
              <div class="flex mx-1 my-2">
                <input
                  type="radio"
                  class="mr-1"
                  value="3"
                  v-model="selectedPrice"
                  @change="FilterBudget(selectedPrice)"
                />
                <div class="flex justify-between items-center">
                  <label for="" class="mr-24">$ 500 - $ 1,000</label>
                  <span>15</span>
                </div>
              </div>
              <div class="flex mx-1 my-2">
                <input
                  type="radio"
                  class="mr-1"
                  value="4"
                  v-model="selectedPrice"
                  @change="FilterBudget(selectedPrice)"
                />
                <div class="flex justify-between items-center">
                  <label for="" class="mr-24">$ 1,000 - $ 2,000</label>
                  <span>12</span>
                </div>
              </div>
              <div class="flex mx-1 my-2">
                <input
                  type="radio"
                  class="mr-1"
                  value="5"
                  v-model="selectedPrice"
                  @change="FilterBudget(selectedPrice)"
                />
                <div class="flex justify-between items-center">
                  <label for="" class="mr-24">$ 2,000 - $ 5,000</label>
                  <span>320</span>
                </div>
              </div>
            </div>
            <div class="m-2">
              <p class="text-Gray2">Set your own budget</p>
              <div class="flex justify-between items-center my-2">
                <input
                  v-model="min"
                  type="text"
                  placeholder="Min"
                  class="w-20"
                />
                <input
                  v-model="max"
                  type="text"
                  placeholder="Max"
                  class="w-20"
                />
              </div>
              <DynamicBtn @click="checkMinMax" text="check" />
            </div>
          </div>
        </div>
        <!-- RAting Component  -->
        <Rating />
      </div>
      <!-- Search Result Component  -->
      <div class="w-full">
        <div class="flex justify-between items-center">
          <h1 class="text-2xl font-semibold">
            Egypt : {{ hotels.length }} Search results found
          </h1>
          <!-- Sort Component  -->
          <div
            @click="sortHotels"
            class="bg-bgColor py-4 rounded-md divide-solid flex items-center w-44 h-12 p-3"
            style="border: 1px solid #bdbdbd; margin-left: 332px"
          >
            <div class="mt-0.5 mr-3">
              <p class="font-defaultFont text-xs text-Gray8 font-semibold">
                Sort by
              </p>
              <p class="font-defaultFont text-sm text-Gray1 font-normal">ID</p>
            </div>
            <img src="../images/arrow-down 1.svg" class="ml-20" />
          </div>
        </div>
        <div
          v-for="hotel in hotels"
          :key="hotel.hotel_id"
          style="width: 1000px; height: 290px"
          class="flex my-7 mr-20 rounded-md border border-Gray5 bg-bgColor py-2"
        >
          <div class="">
            <img
              :src="hotel.property.photoUrls[0]"
              alt=""
              class="h-60 w-72 rounded-md"
            />
          </div>
          <div class="ml-4" style="width: 500px">
            <h2 class="font-semibold text-lg">{{ hotel.property.name }}</h2>
            <p>{{ hotel.hotel_id }}</p>
            <div class="flex my-4">
              <img src="../images/Stars.svg" alt="" class="mr-2" />
              <p class="text-base text-Gray2">
                {{ hotel.property.reviewScore }}
                <span>({{ hotel.property.reviewCount }}) Reviews</span>
              </p>
            </div>

            <p class="text-sm text-Gray2 font-medium mb-2">
              Live a little and celbrate with champagne
            </p>
            <p class="text-sm text-Gray2 font-normal">
              {{ hotel.accessibilityLabel }}
            </p>
            <DynamicBtn
              text="See availability"
              width="52"
              class="mt-6"
              @click="goToProdDetails(hotel.hotel_id)"
            />
          </div>
          <div class="h-60 pt-52">
            <div class="flex justify-end items-center">
              <span class="line-through text-Red text-sm font-normal p-2">{{
                RoundUp(hotel.property.priceBreakdown.grossPrice.value)
              }}</span>
              <p class="font-medium text-xlg text-Gray1 text-right">
                ${{
                  RoundUp(hotel.property.priceBreakdown.excludedPrice.value)
                }}
              </p>
            </div>

            <p class="text-Gray1 text-sm font-light">Includes taxes and fees</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from "axios";
import { onMounted, onUnmounted, ref, watch } from "vue";
import DynamicBtn from "./DynamicBtn.vue";
import Rating from "./Rating.vue";
import { useRouter } from "vue-router";
import { defineProps } from "vue";
import { getValue, setValue } from "../local.js";

const searchParams = ref({
  arrivalDate: "",
  departureDate: "",
  guests: "",
  rooms: "",
});
const hotels = ref([]);
const arrivalDate = getValue("arrivalDateValue") || ref("");
const departureDate = getValue("departureDateValue") || ref("");
// const arrivalDate = ref("");
// const departureDate = ref("");
const guests = getValue("guestsValue") || ref("");
const rooms = getValue("roomsValue") || ref("");
const min = ref(0);
const max = ref(0);
const FilterName = ref("");
const selectedPrice = ref(null);
const router = useRouter();

const searchHotels = () => {
  const params = {
    arrivalDate: convertDate(arrivalDate),
    departureDate: convertDate(departureDate),
    guests: guests,
    rooms: rooms,
  };
  searchParams.value = params;
};

function checkMinMax() {
  hotels.value = hotels.value.filter((hotel) => {
    const price = hotel.property.priceBreakdown.excludedPrice.value;
    return price > min.value && price < max.value;
  });
}
function FilterBudget(priceLabel) {
  let minPrice, maxPrice;
  switch (priceLabel) {
    case "1":
      minPrice = 0;
      maxPrice = 200;
      break;
    case "2":
      minPrice = 200;
      maxPrice = 500;
      break;
    case "3":
      minPrice = 500;
      maxPrice = 1000;
      break;
    case "4":
      minPrice = 1000;
      maxPrice = 2000;
      break;
    case "5":
      minPrice = 2000;
      maxPrice = 5000;
      break;

    default:
      break;
  }
  hotels.value = hotels.value.filter((hotel) => {
    const price = RoundUp(hotel.property.priceBreakdown.excludedPrice.value);
    return price >= minPrice && price <= maxPrice;
  });
}
function goToProdDetails(HotelId) {
  // router.push({ name: "ProductDetails", params: { id: productId } });
  setValue("SelectedHotel", HotelId);
  setValue("arrivaldate", arrivalDate);
  setValue("departuredate", departureDate);

  router.push("/ProductDetails");
}

const FilterByName = () => {
  hotels.value = hotels.value.filter((hotel) =>
    hotel.property.name.toLowerCase().includes(FilterName.value.toLowerCase())
  );
};
function sortHotels() {
  hotels.value.sort((a, b) => a.hotel_id - b.hotel_id);
  return hotels.value;
}
function convertDate(date) {
  date = JSON.stringify(date);
  const trimmedDate = date.trim(); // Trim any extra spaces from the input date string
  const parts = trimmedDate.split("/");
  const formattedDate = `${parts[2]}-${parts[0]}-${parts[1]}`;
  const convertedDate = formattedDate.substring(11, 21);
  console.log(convertedDate);
  return convertedDate;
}
function RoundUp(val) {
  return Math.ceil(val);
}
onMounted(() => {
  searchHotels();
});
onMounted(async () => {
  // Watch for changes in searchParams and trigger API call
  watch(searchParams, async (newParams) => {
    if (newParams) {
      const options = {
        method: "GET",
        url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels",
        params: {
          dest_id: "-2092174",
          search_type: "CITY",
          arrival_date: newParams.arrivalDate,
          departure_date: newParams.departureDate,
          // arrival_date: "2023-12-03",
          // departure_date: "2023-12-05",
          adults: newParams.guests,
          // adults: "1",
          children_age: "0,17",
          room_qty: newParams.rooms,
          // room_qty:"1",
          // room_qty:localStorageStore.storedValue,
          page_number: "1",
          languagecode: "en-us",
          currency_code: "AED",
        },
        headers: {
          // "X-RapidAPI-Key":
          //   "c537e5c1cdmsh67a6ead1631e8ccp120359jsn2276e34ac3f8",
          // "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
           'X-RapidAPI-Key': 'c9c00bf6d1msheb0e01a74544b1fp148bfejsn630e31555bc7',
    'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
        },
      };

      try {
        const response = await axios.request(options);
        hotels.value = response.data.data.hotels;
        // console.log(hotels.value);
      } catch (error) {
        console.error(error);
      }
    }
  });
});
// onMounted(async () => {
//   const options = {
//     method: "GET",
//     url: "https://booking-com15.p.rapidapi.com/api/v1/hotels/searchHotels",
//     params: {
//       dest_id: "-2092174",
//       search_type: "CITY",
//       arrival_date: "2023-11-30",
//       departure_date: "2023-12-05",
//       children_age: "0,17",
//       room_qty: "1",
//       page_number: "1",
//       languagecode: "en-us",
//       currency_code: "AED",
//     },
//     headers: {
//       "X-RapidAPI-Key": "c537e5c1cdmsh67a6ead1631e8ccp120359jsn2276e34ac3f8",
//       "X-RapidAPI-Host": "booking-com15.p.rapidapi.com",
//     },
//   };
//   try {
//     const response = await axios.request(options);
//     hotels.value = response.data.data.hotels;
//   } catch (error) {
//     console.error(error);
//   }
// });
</script>
