<template>
    <div class="relative flex" style="height: 500px;">
        <div class="pt-6 rounded-md" style="width: 830px; height: 452px;">
            <img src="../images/Rectangle 28.svg" style="width: 830px;">
        </div>
        <div class="absolute pt-6 rounded-md" style="width: 330px; height: 218px; margin-left: 860px;">
            <img src="../images/Rectangle 29.svg" alt="">
        </div>
        <div class="absolute rounded-md" style="width: 330px; height: 218px; padding-top: 271px; margin-left: 860px;">
            <img src="../images/Rectangle 30.svg" alt="">
        </div>
    </div>

</template>
        
<script setup>
</script>
  