<template>
  <div class="ml-m21 inline">
    <!-- First Card -->
    <div
      class="relative bg-bgColor rounded-md ml-8 mt-8"
      style="width: 850px; height: 328px"
    >
      <div
        class="bg-center bg-cover bg-Blue rounded-t-md justify-center items-center py-4"
        style="height: 55px; width: 850px"
      >
        <img
          class="inline ml-4 mr-4 justify-center"
          src="../images/security-user 1.svg"
        />
        <p
          class="mr-5 font-medium justify-center text-bgColor font-defaultFont text-base inline"
        >
          Room 1
        </p>
        <p
          class="font-medium text-bgColor justify-center font-defaultFont text-sm inline"
        >
          2 adults, 1 double bed and 1 twin bed, Non-smoking
        </p>
      </div>
      <div class="ml-8 mt-8 relative">
        <div class="absolute mr-16">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >First name</label
          >
          <div
            class="bg-transparent flex items-center w-60 h-10 pl-3 rounded-md"
            style="border: 1px solid #2f80ed"
          >
            <p
              class="text-sm font-defaultFont text-Gray1"
              style="font-weight: 400"
            >
              Juilis
            </p>
          </div>
        </div>
        <div class="absolute ml-m16">
          <label
            class="start-0 font-semibold font-defaultFont text-sm text-Black1 block mb-1"
            >Last name</label
          >
          <div class="bg-Gray6 flex items-center w-60 h-10 pl-3 rounded-md">
            <p
              class="text-sm font-defaultFont text-Gray1"
              style="font-weight: 400"
            >
              Lorenzo
            </p>
          </div>
        </div>

        <div class="absolute mr-16 mt-20">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >Mobile number</label
          >
          <div class="bg-Gray6 w-25 h-10 pl-3 rounded-md flex items-center">
            <div class="h-18 w-18 mr-4">
              <img src="../images/image 5.svg" />
            </div>
            <p class="mr-8 text-sm font-defaultFont text-Gray1">+61</p>
            <div class="h-18 w-18 mr-4">
              <img src="../images/arrow-down 1.svg" />
            </div>
          </div>
        </div>

        <div class="absolute mr-16 mt-20 ml-40">
          <label
            class="start-0 font-medium text-sm font-defaultFont text-bgColor block mb-1"
            >Mobile number</label
          >
          <div class="bg-Gray6 w-w-100 h-10 pl-3 rounded-md flex items-center">
            <p class="mr-8 text-sm font-defaultFont text-Gray1">88672778</p>
          </div>

          <div class="flex justify-center items-center mt-5 ml-ng9">
            <input
              type="checkbox"
              class="start-0 border border-Gray4 items-center rounded-lg h-4 w-4 mr-2 mt-5"
            />

            <label
              class="items-center font-normal text-sm font-defaultFont text-Gray1 mt-6 mb-1"
              >Receive text alerts about this trip.</label
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div
      class="relative bg-bgColor mt-7 rounded-md ml-8"
      style="width: 850px; height: 576px"
    >
      <div
        class="bg-center bg-cover bg-Blue rounded-t-md justify-center items-center py-4"
        style="height: 55px; width: 850px"
      >
        <img
          class="inline ml-4 mr-4 justify-center"
          src="../images/card-tick 1.svg"
        />
        <p
          class="mr-5 font-medium justify-center text-bgColor font-defaultFont text-base inline"
        >
          Payment options
        </p>
      </div>

      <div
        class="w-32 ml-8 flex justify-center text-center items-center"
        style="border-bottom: 3px solid #2f80ed"
      >
        <p class="mt-3 font-normal text-Gray1 font-defaultFont text-sm">
          Debit/Credit Card
        </p>
      </div>
      <hr class="border-Gray5 mt-0" />

      <div class="ml-8 mt-14 relative flex items-center">
        <div class="absolute">
          <div
            class="bg-Gray6 flex items-center justify-center w-14 h-10 pl-3 rounded-md"
          >
            <img
              class="justify-center items-center mr-3"
              src="../images/image 6.svg"
            />
          </div>
        </div>
        <div class="absolute ml-16">
          <div
            class="bg-Gray6 flex items-center justify-center w-14 h-10 pl-3 rounded-md"
          >
            <img
              class="justify-center items-center mr-3"
              src="../images/image 7.svg"
            />
          </div>
        </div>
        <div class="absolute ml-32">
          <div
            class="bg-Gray6 flex items-center justify-center w-14 h-10 pl-3 rounded-md"
          >
            <img
              class="justify-center items-center mr-3"
              src="../images/image 10.svg"
            />
          </div>
        </div>
        <div class="absolute ml-48">
          <div
            class="bg-Gray6 flex items-center justify-center w-14 h-10 pl-3 rounded-md"
          >
            <img
              class="justify-center items-center mr-3"
              src="../images/image 8.svg"
            />
          </div>
        </div>
      </div>

      <div class="ml-8 mt-14 relative">
        <div class="absolute mr-16">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >Name on card</label
          >
          <div
            class="bg-Gray6 flex items-center h-10 pl-3 rounded-md"
            style="width: 500px"
          >
            <p
              class="text-sm font-defaultFont text-Gray1"
              style="font-weight: 400"
            >
              Julius Lorenzo
            </p>
          </div>
          <img
            class="mt-ng"
            style="margin-left: 520px"
            src="../images/tick-circle 1.svg"
          />
        </div>
        <div class="absolute" style="margin-top: 90px">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >Debit/Credit card number</label
          >
          <div
            class="bg-Gray6 flex items-center h-10 pl-3 rounded-md"
            style="width: 500px"
          >
            <p
              class="text-sm font-defaultFont text-Gray1"
              style="font-weight: 400"
            >
              9923464374822293
            </p>
          </div>
          <img
            class="mt-ng"
            style="margin-left: 520px"
            src="../images/tick-circle 1.svg"
          />
        </div>

        <div class="absolute mr-16 mt-44">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >Expiration Date</label
          >
          <div class="bg-Gray6 w-36 h-10 pl-3 rounded-md flex items-center">
            <p class="mr-16 text-sm font-defaultFont text-Gray1">April</p>
            <div class="h-18 w-18 ml-2">
              <img src="../images/arrow-down 1.svg" />
            </div>
          </div>
        </div>
        <div class="absolute ml-40 mt-44">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-bgColor block mb-1"
            >Expiration Date</label
          >
          <div class="bg-Gray6 w-36 h-10 pl-3 rounded-md flex items-center">
            <p class="mr-16 text-sm font-defaultFont text-Gray1">2026</p>
            <div class="h-18 w-18 ml-2">
              <img src="../images/arrow-down 1.svg" />
            </div>
          </div>
          <img
            class="mt-ng"
            style="margin-left: 165px"
            src="../images/tick-circle 1.svg"
          />
        </div>

        <div class="absolute mr-16" style="margin-top: 263px">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-Black1 block mb-1"
            >Security Code</label
          >
          <div
            class="bg-Gray6 w-64 h-10 pl-3 rounded-md flex items-center"
            style="width: 240px"
          >
            <p class="mr-16 text-sm font-defaultFont text-Gray1">543</p>
          </div>
        </div>
        <div class="absolute" style="margin-top: 263px; margin-left: 260px">
          <label
            class="start-0 font-semibold text-sm font-defaultFont text-bgColor block mb-1"
            >Billing Zip code</label
          >
          <div
            class="bg-Gray6 w-64 h-10 pl-3 rounded-md flex items-center"
            style="width: 240px"
          >
            <p class="mr-16 text-sm font-defaultFont text-Gray1">203846</p>
          </div>
          <img
            class="mt-ng"
            style="margin-left: 260px"
            src="../images/tick-circle 1.svg"
          />
        </div>
      </div>
    </div>

    <!-- Third Card -->
    <div
      class="relative bg-bgColor mt-7 rounded-md ml-8"
      style="width: 850px; height: 405px"
    >
      <div
        class="bg-center bg-cover bg-Yellow1 rounded-t-md justify-center items-center py-4"
        style="height: 55px; width: 850px"
      >
        <p
          class="mr-5 ml-4 font-medium justify-center text-Gray1 font-defaultFont text-base inline"
        >
          Important information about your booking
        </p>
      </div>

      <p class="ml-7 mt-8 font-normal text-Gray1 font-defaultFont text-sm">
        1. This rate is non-refundable. If you change or cancel your booking you
        will not get a refund or credit to use for a <br />future stay. <br />2.
        Stay extensions will require a new reservation. <br />3. Front desk
        staff will greet guests on arrival <br />4. No refunds will be issued
        for late check-in or early check-out.
      </p>

      <p class="ml-4 mt-8 font-normal text-Gray2 font-defaultFont text-sm">
        By clicking the button below, I acknowledge that I have reviewed the
        <span class="font-normal text-Blue font-defaultFont text-sm"
          >Privacy Statement</span
        >
        and have reviewd and accept the<br />
        <span class="font-normal text-Blue font-defaultFont text-sm"
          >Rules and Restrictions</span
        >
        and
        <span class="font-normal text-Blue font-defaultFont text-sm"
          >Terms of Use</span
        >.
      </p>

      <button
        @click="TogglePopup"
        class="text-white bg-Blue rounded-md text-sm font-medium font-defaultFont px-3.5 py-2 mt-7 ml-4"
      >
        Complete Booking
      </button>

      <div class="mt-4 flex items-center">
        <img
          class="inline ml-4 mr-2 justify-center"
          src="../images/lock-circle 1.svg"
        />
        <p
          class="font-medium justify-center text-Gray2 font-defaultFont text-sm inline"
        >
          We use secure transmission and encrypted storage to protect your
          personal information
        </p>
      </div>
    </div>
  </div>

  <!-- Booking Card -->
  <div
    v-if="popupTriggers.buttonTrigger"
    class="fixed top-0 bottom-0 left-0 right-0 z-50 bg-PopUp flex justify-center items-center"
  >
    <div
      class="bg-bgColor p-8 rounded-md items-center text-center justify-center"
      style="width: 415px; height: 485px"
    >
      <div class="flex justify-center mb-6">
        <div class="bg-[url('../images/booking.png')] flex rounded-md">
          <img src="../images/image 11.png" alt="" class="" />
        </div>
      </div>

      <h2 class="text-Black1 text-lg font-defaultFont font-semibold mb-4">
        Booking Successful
      </h2>
      <p class="text-Gray2 text-base font-defaultFont font-normal mb-5">
        Congratulations your reservation has been made.<br />You will be
        notified 2 days prior the date.
      </p>
      <button
        @click="$router.push('/mytrips')"
        class="text-white bg-Blue rounded-md text-sm font-medium font-defaultFont px-3.5 py-2 mt-10"
        style="width: 352px; height: 44px"
      >
        View Trip
      </button>
    </div>
  </div>
</template>
        
<script>
import { ref } from "vue";
const showBookingSuc = ref(true);
export default {
  setup() {
    const popupTriggers = ref({
      buttonTrigger: false,
    });

    const TogglePopup = () => {
      popupTriggers.value.buttonTrigger = !popupTriggers.value.buttonTrigger;
    };

    return {
      popupTriggers,
      TogglePopup,
    };
  },
};
</script>
  