<template>
  <div class="inline-block -mt-12">
    <div
      class="search flex justify-between py-5 bg-bgColor rounded-lg shadow-lg px-2 -mt-14 w-11/12"
    >
      <div class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2">
        <img src="../images/location 1.svg" alt="" />
        <select class="block border-gray-300 rounded-md bg-Gray6 w-full outline-none mt-0.5 text-s text-Gray2 focus:rounded-sm focus:ml-1 placeholder:text-Gray2 pl-1 focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-s">
          <option disabled selected value="" class="bg-Gray6 w-24 ">Where are you going?</option>
          <option>Egypt</option>
        </select>
      </div>

      <div class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2">
        <img src="../images/calendar 1.svg" alt="" />
        <input
          v-model="arrivalDate"
          class="bg-Gray6 w-full outline-none mt-0.5 text-s text-Gray2 focus:rounded-sm focus:ml-1 placeholder:text-Gray2 pl-1 focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-s"
          type="date"
          placeholder="Check in date"
        />
      </div>

      <div class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2">
        <img src="../images/calendar 1.svg" alt="" />
        <input
          v-model="departureDate"
          class="bg-Gray6  w-full outline-none mt-0.5 text-s text-Gray2 focus:rounded-sm focus:ml-1 placeholder:text-Gray2 pl-1 focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-s"
          type="date"
          placeholder="Check out date"
        />
      </div>

      <div class="bg-Gray6 flex justify-between items-center p-2 rounded ml-2">
        <img src="../images/user-square 1.svg" alt="" />
        <input
          v-model="guests"
          class="bg-Gray6  w-full outline-none mt-0.5 text-s text-Gray2 focus:rounded-sm focus:ml-1 placeholder:text-Gray2 pl-1 focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-s"
          type="text"
          placeholder="Guests"
        />
      </div>

      <div class="bg-Gray6 flex justify-between items-center p-3 rounded ml-2 ">
        <img src="../images/rooms.svg" alt="" />
        <input
          v-model="rooms"
          class="bg-Gray6 w-full outline-none mt-0.5 text-s text-Gray2 focus:rounded-sm focus:ml-1 placeholder:text-Gray2 pl-1 focus:outline-Blue focus:bg-transparent focus:placeholder:text-Gray2 focus:placeholder:text-s"
          type="number"
          placeholder="Rooms"
        />
      </div>

      <DynamicBtn
        text="search"
        width="36"
        @click="searchHotels"
        class="w-36 mx-2"
      />
    </div>
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, inject } from "vue";
import { useRouter } from "vue-router";
import DynamicBtn from "./DynamicBtn.vue";
import { setValue } from "../local";
// import { getValue } from '../local';

// import { useLocalStorageStore } from '../store/searchStore';
// const localStorageStore = useLocalStorageStore();

// const saveValue = () => {
//   localStorageStore.saveValue(this.inputValue);
// };

const router = useRouter();
const arrivalDate = ref("");
const departureDate = ref("");
const guests = ref("");
const rooms = ref("");

function saveValue() {
  setValue("roomsValue", rooms.value);
  setValue("arrivalDateValue", arrivalDate.value);
  setValue("departureDateValue", departureDate.value);
  setValue("guestsValue", guests.value);
}

// const emit = defineEmits(["searchParams"]);

// const searchHotels = () => {
//   const searchParams = {
//     arrivalDate: arrivalDate.value,
//     departureDate: departureDate.value,
//     guests: guests.value,
//     rooms: rooms.value,
//   };

//   router.push({
//     name: "SearchResult",
//     query: searchParams
//   });
//   emit("searchParams", searchParams);
// }
const searchHotels = () => {
  saveValue();
  router.push({
    name: "SearchResult",
    // query: searchParams
  });
};
</script>

