<template>
  <div class="border w-72 h-28 rounded-md bg-Gray6 mb-5">
    <div class="bg-Gray6 p-2 divide-solid rounded ">
      <span>Search by property name</span>

      <div
        class="bg-bgColor border flex justify-betwen  p-2 rounded mt-2"
      >
        <img src="../images/search 1.svg" alt="" />
        <input class="ml-1" type="text" placeholder="eg. Beach westpalm" />
      </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>