<template>
  <div class="ml-8 mt-8 rounded-t-md">
    <div class="bg-bgColor">
      <div class="">
        <img
          class="h-full w-full object-cover rounded-t-md"
          src="../images/Rectangle 68.svg"
          alt="Your Image"
        />
      </div>
      <div class="p-4">
        <h2 class="font-semibold text-lg">Lakeside Motel Warefront</h2>
        <div class="flex my-4">
          <img src="../images/Stars.svg" alt="" class="mr-2" />
          <p class="text-base text-Gray2">
            4.5
            <span>(1200) Reviews</span>
          </p>
        </div>
        <div>
          <p class="text-Red mb-3">Non refundable</p>
          <p class="block text-s text-Gray2 font-normal py-2">
            Check in: Sunday, March 18, 2022
          </p>
          <p class="block text-s text-Gray2 font-normal py-2">
            Check out: Tuesday, March 20, 2022
          </p>
          <p class="text-s text-Gray2 font-normal inline py-2">2 night stay</p>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="mt-8 rounded-t-md">
      <div>
        <h2>Product Details</h2>
      </div>
      <div class="flex justify-around">
        <p>1 room X 2 nights</p>
        <p>$ 120.32</p>
      </div>
      <div class="flex justify-around">
        <p>1 room X 2 nights</p>
        <p>$ 120.32</p>
      </div>
      <div class="flex justify-around">
        <p>Total</p>
        <p>$130</p>
      </div>
    </div>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>