<template>
  <div class="w-full">
    <div
      class="flex my-7 mr-20 rounded-md border border-Gray5 bg-bgColor py-6 px-2 w-11/12"
    >
      <div class="w-1/2">
        <img
          class="bg-cover h-60 w-full rounded-md"
          src="../images/Rectangle 32.png"
        />
      </div>

      <div class="ml-4 w-full">
        <p class="block text-xl font-medium mb-2">Lakeside Motel Warefront</p>
        <!-- <div class="inline"> -->
        <div class="flex justify-start items-center mb-6">
          <img class="bg-cover mr-2" src="../images/Stars.svg" />
          <p class="block text-s text-Gray2 font-normal">4.5 (1200 Reviews)</p>
        </div>
        <div>
          <p class="text-Red mb-3">Non refundable</p>
          <p class="block text-s text-Gray2 font-normal py-2">
            Check in: Sunday, March 18, 2022
          </p>
          <p class="block text-s text-Gray2 font-normal py-2">
            Check out: Tuesday, March 20, 2022
          </p>
          <p class="text-s text-Gray2 font-normal inline py-2">2 night stay</p>
          <!-- </div> -->
        </div>
      </div>

      <div class="h-60 w-80 pt-24 mr-2">
        <div class="text-right">
          <span class="line-through text-Red text-sm font-normal p-2"
            >$150</span
          >
          <span class="text-xl text-Gray1 font-medium p-2">$130</span>
        </div>
        <p class="text-Gray1 text-s my-2">Includes taxes and fees</p>
        <DynamicBtn text=" View trip details" width="28" class="mt-3" />
      </div>
    </div>
  </div>
</template>
    
    <script setup>
import DynamicBtn from "./DynamicBtn.vue";
</script>
    
<style scoped>
.container {
  width: 1133px;
  height: 240px;
  border: 1px solid #e0e0e0;
}
</style>