<template>
  <div class="pt-10 mb-500">
    <h1 class="font-semibold text-3xl mb-6 text-Black1">
      Get inspiration for your next trip
    </h1>
    <div class="grid grid-cols-3 gap-4">
      <!-- <div class="card"> -->
      <div
        class="bg-[url('../images/trip1.png')] bg-cover h-80 w-full object-cover relative rounded"
      >
        <div class="content absolute left-0 bottom-0 text-bgColor p-3">
          <h2 class="text-xl font-semibold mb-3 text-bgColor">
            Sydeny’s 10 most fashionable 5 star hotels
          </h2>
          <p class="text-base text-bgColor font-normal">
            Browse the fastest growing tourism sector in the heart of Australia
            tourism capital ....
          </p>
        </div>
      </div>
      <div
        class="bg-[url('../images/trip2.png')] bg-cover h-80 w-full object-cover relative rounded"
      >
        <div class="content absolute left-0 bottom-0 text-bgColor p-3">
          <h2 class="text-xl font-semibold mb-3 text-bgColor">
            Top cities for Vegan Travellers
          </h2>
          <p class="text-base text-bgColor font-normal">
            Top sites where you do not have to worry about being a vegan. Our
            tourist guide is here...
          </p>
        </div>
      </div>
      <div
        class="bg-[url('../images/trip3.png')] bg-cover h-80 w-full object-cover relative rounded"
      >
        <div class="content absolute left-0 bottom-0 text-bgColor p-3">
          <h2 class="text-xl font-semibold mb-3 text-bgColor">
            World’s top destinations during and post covid timeline
          </h2>
          <p class="text-base text-bgColor font-normal">
            Pandemic is still intact and will be here for a longer time. Here’s
            where your next destination...
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
</script>
