<template>
  <div
    v-if="popupTriggers.timedTrigger"
    id="WelCard"
    class="fixed top-0 bottom-0 left-0 right-0 z-50 bg-popUp flex justify-center items-center"
  >
    <div
      class="bg-bgColor p-8 rounded-md items-center text-center justify-center"
      style="width: 415px; height: 485px"
    >
      <div class="flex justify-center mb-6">
        <img src="../images/Welcome card.svg" alt="" class="" />
      </div>
      <h2 class="text-Black1 text-lg font-defaultFont font-semibold mb-4">
        Welcome to My Dream Place
      </h2>
      <p class="text-Gray2 text-base font-defaultFont font-normal mb-5">
        You can now enjoy your travel experience with easy access to resources
        and more
      </p>
      <DynamicBtn
        text="Get Started"
        class="w-3/4 mt-9"
        @click="TogglePopup('timedTrigger')"
      />
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import DynamicBtn from "./DynamicBtn.vue";
const popupTriggers = ref({
  timedTrigger: false,
});

const TogglePopup = () => {
  popupTriggers.value = !popupTriggers.value;
};

setTimeout(() => {
  popupTriggers.value.timedTrigger = true;
}, 500);
</script>
